
body{
  background-color:#013226;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

@media screen and (min-width:768px){
 .containers{
   position: absolute;
  right: 10px;
  transition: 0.3s;
  width: 500px;
  height: 100px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  margin-top: 3%;
    top: 80px;
    margin: 5px;

}
.footer{
  padding-left: 44vw;
  padding-top: 5px;
}
.foot{
	height:2vw;
	margin-left: 0
	padding-top:5px;
}

.row{
  padding-left: 12vw;
  height: 65%;
}
#endButtons{
  margin-top: 1vw;
  margin-left: 12vw;
  background-color:#013226;
  color: white;
  width: 8vw;
  height: 2vw;
  border-radius: 10px;
  padding-bottom: 30px;
  box-shadow: 5px;
}
#endSubmit{
  background-color: #000;
  color: white;
  width: 15vw;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-top: -15px;
  margin-left: 40vw;
  
}
#OP{
    font-size: 2vw;    
    padding-left: 5px;
}

#OPx{
    font-size: 2vw;    
    padding-left: 10px;
    margin-left: 18px;
}
#Q{
    font-size: 1.75vw;
    padding-left: 18px;
    padding-top: 10px;
    
}

.container-fluid{
   margin-top: 2vw;
    padding-top: 5%;
    float: right;
    background-color:#013226;
    width: 100%;
}
.nav-link{
  color: white;
}
.navbar-brand{
  font-size: 2vw;
}
#countdown{
  /*background-color: #fff;*/
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  font-size: 0.2vw;
  height: 50px;
  width: 150px;
  background-color:#000;
  margin: 0px;
  left: 60%;
  right: 0%;
}

.mob{
  margin:10px;
}
  .scr{
    display: none;
  }
  .containers:hover {
  right: -20px;

}
}
@media screen and (max-width: 767px){
.containers{
   position: absolute;
  right: -28px;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  width: 600px;
  height: 200px;
}

#OP{
    font-size: 4vw; 

}
.footer{
  padding-left: 38vw;
}

.row{
  padding-left: 12vw;
  height: 100%;
}
.navbar-brand{
  font-size: 4vw;
  margin-bottom: 0;
}
.nav-link{
  color: white;
  font-size: 2vw;
}
.foot{
	height:5vw;
	margin-left: 0
	margin-top:2px;
}

 
#Q{
    font-size: 4vw;  
    width: 100%;
    padding: 5px;

}
.coast{
  width: 1000px;
}

.row{
  padding-left: 24vw;
  height: 68%;
  width: 400%
margin-left: 5px;
}
.container-fluid{
   margin-top: 22vw;
    padding-top: 5%;
    float: right;
    background-color:#013226;
    /*margin-left: 25vw;*/
    width: 1000vw;

}
.coast{
  height: 800%;
}
#endButtons{
  margin-top: 6vw;
  margin-left: 5vw;
  background-color:#013226;
  color: white;
  width: 10vw;
  border-radius: 5px;
  padding-left: 7px;
  justify-content: center;
  font-size: 2.5vw;
  margin-bottom: 5px;
}
#endSubmit{
  background-color: #000;
  color: white;
  width: 15vw;
  border-radius: 10px;
  margin-top: -3vw;
  margin-left: 40vw;
  border-radius: 5px;
  font-size: 3vw;
  justify-content: center;
}

#countdown{
  display: flex;
  align-items: center;
  font-size: 0.5vw;
  height: 50px;
  width: 150px;
  background-color:#000;
  margin: 0px;
  left: 2%;
  right: 0%;
}

.navbar{
  background-color: #000;
}
}
.d-flex {
  margin-left: 5px;
  margin-bottom:  8px;
  margin-right: 5px;
}
.navbar-btn{
  /*margin-left: 2px;*/
  margin-right: 5px;
  width: 5vw;
  font-size: 1.4vw;
  padding-left:  5px;
  justify-content: center;
  /*text-align: center;*/
  border:0;
  /*height: 4vw;*/
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding-right: 10px;
  padding-bottom: 5px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
margin-top: 40px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 1.5vw;
  font-family: times new roman;
}


.fa{
 
  justify-content: flex-end;
  float: right;
}
.fas{
 
  justify-content: flex-end;
  float: right;
}
.coast {
  padding:1px;
  background: linear-gradient(0deg,#137c5f, #44bb97, #99ebd2);
  /*width: 50%;*/

}
.col-lg-8 .col-md-5 .col-sm-8 {
  padding-left: 100px;
  
}


.p{
    border: solid 1px red;
}

.floating{
    position: fixed;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-185%, 0);
  } 

  .floating a{
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    font-size: 2vw;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 5%;
    /*padding: 8%;*/
    width: 200%;
    text-align: right;
    border-radius: 50px;
    transition: 1s;
    transition-property: transform;
  }
  
  .floating a:hover{
    transform: translate(40%, 0);
  }

.modal-body{
  /*font-size: 20px;*/
  font-family: times new roman;
}

#indent{
  text-indent: 20px;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000;
   color: white;
   
}

.time{
  font-size: 3.5vw;
  color: white;
  justify-content: center;

}
div {
  overflow: hidden;
}
