
body{
  /*background-color:#013226;*/
  background-image:  url('puz.jpg');
font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width:768px){
  .body{
    background-position: center;
    background-size: cover;
    /*background-repeat: no-repeat;*/
  }
 .containers{
   position: absolute;
  right: 10px;
  transition: 0.3s;
  width: 500px;
  height: 100px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  margin-top: 3%;
    top: 80px;
    margin: 5px;

}
.navbar{
  background-color: black;
  color: white;
}
.footer{
  /*padding-left: 32vw;*/
  padding-top: 5px;
}
.foot{
  height:2vw;
  margin-left: 0
  padding-top:5px;
}
.small{
  display: none;
}

.time{
  font-size: 3vw;
  color: white;
  justify-content: center;

}
.form_button{
  background-color:#001a33;
  color: white;
  /*width: 10%;*/
  border-radius: 10px;
  outline: none !important;
  box-shadow: none !important;
  border-color: #001a33;
  font-size: 100%;
  width:15%;
padding:0.5%;
  justify-content: center;
}
#form_button{
  margin-top: 3%;
  background-color:#0066cc;
  color: white;
  width: 20%;
  border-radius: 10px;
  outline: none !important;
  box-shadow: none !important;
  border-color: #0066cc;
  font-size: 120%;
padding:0.5%;
}
#OP{
    font-size: 1.5vw;    
    padding-left: 5px;
}

#OPx{
    font-size: 1.5vw;    
    padding-left: 10px;
    margin-left: 18px;
}
#Q{
    font-size: 1.5vw;
    padding-left: 18px;
    padding-top: 10px;
    
}

.container-fluid{
   margin-top: 2vw;
    padding-top: 5%;
    float: right;
    width: 100%;
}
.nav-item{
  color: white;
}
.navbar-brand{
  font-size: 2vw;}
#enig_logo{
  height: 50px; 
  width: 4vw;
}

#countdown{
  /*background-color: #fff;*/
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  font-size: 0.2vw;
  height: 50px;
  width: 150px;
  background-color:#000;
  margin-left: 40%;  /*left: 55%;*/
}

.mob{
  margin:10px;
}
  .scr{
    display: none;
  }
  .containers:hover {
  right: -20px;

}
.button:hover {background-color: #001a33;}

.button {
  background-color:  #003566;
  outline: none !important;
  box-shadow: none !important;
  color: white;
  text-align: center;
  display: inline-block;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.5vw;
  margin: 1.5vw;
font-family: 'Source Sans Pro', sans-serif;
}

}
@media screen and (max-width: 767px){
  .body{
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
font-family: 'Source Sans Pro', sans-serif;
  }
.containers{
   position: absolute;
  right: -28px;
  transition: 0.3s;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  width: 600px;
  height: 200px;
}
#pisb{
  display: none;
}
.big{
  display: none;
}
#OP{
    font-size: 3.5vw; 
    margin-left: 1vw;
}
.footer{
  /*padding-left: 14vw;*/
  font-size: 2.5vw;
}
#enig_logo{
  height: 48px; 
  width: 15vw;
}

.time{
  font-size: 7vw;
  color: white;
  justify-content: center;

}
.nav-item{
  color: white;
  font-size:3vw;
}
.foot{
  height:5vw;
  margin-left: 0
  margin-top:2px;
}

 
#Q{
    font-size: 3.5vw;  
    width: 100%;
    padding: 5px;

}
.coast{
  width: 1000px;
}

.container-fluid{
   margin-top: 15vw;
    padding-top: 5%;
    float: right;
    /*background-color:#013226;*/
    /*margin-left: 25vw;*/
    width: 1000vw;

}
.coast{
  height: auto;
}
.form_button{
  background-color:#001a33;
  color: white;
  width: 20%;
  border-radius: 10px;
  outline: none !important;
  box-shadow: none !important;
  border-color: #001a33;
  /*font-size: 1.5vw;*/
  justify-content: center;
}
#form_button{
  margin-top: 3%;
  background-color:#0066cc;
  color: white;
  width: 35%;
  border-radius: 10px;
  outline: none !important;
  box-shadow: none !important;
  border-color: #0066cc;
}


#countdown{
  /*display: flex;*/
  align-items: center;
  font-size: 0.5vw;
  height: 50px;
  width: 150px;
  background-color:#000;
  margin-left: 2%;
  padding-top: 2%;
  /*margin-top: 2%;*/
}

.navbar{
  background-color: #000;
  color: white;
}
}
.d-flex {
  margin-left: 5px;
  margin-bottom:  8px;
  margin-right: 5px;
}
.navbar-btn{
  /*margin-left: 2px;*/
  margin-right: 5px;
  width: 5vw;
  font-size: 1.4vw;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.button:hover {background-color: #001a33;}

.button {
  background-color:  #003566;
  border: 0;
  outline: none !important;
  box-shadow: none !important;
  color: white;
  text-align: center;
  display: inline-block;
justify-content: center;
  border-radius: 10px;
  font-size: 1.5vw;
  margin: 1.5vw;
  height: auto;
font-family: 'Source Sans Pro', sans-serif;
}


.fa{
 
  justify-content: flex-end;
  float: right;
}
.fas{
 
  justify-content: flex-end;
  float: right;
}
.coast {
background-color: #cce6ff;
margin-bottom: 2vw;
margin-top: 0.5vw;
}


.p{
    border: solid 1px red;
}

.floating{
    position: fixed;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-185%, 0);
  } 

  .floating a{
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    font-size: 2vw;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 5%;
    /*padding: 8%;*/
    width: 200%;
    text-align: right;
    border-radius: 50px;
    transition: 1s;
    transition-property: transform;
  }
  
  .floating a:hover{
    transform: translate(40%, 0);
  }
.modal-header{
  background-color: #cce6ff;
 
 text-decoration-color: #001a33;

}
.modal-body{
font-family: 'Source Sans Pro', sans-serif;
background-color: #cce6ff;

}
h4{
  background-color: #cce6ff;
/*  margin: 0;
  padding: 0;
  display: flex;*/

  /*justify-content: center;*/
  /*align-items: center;*/
  text-align: center;
    /*margin: auto;*/
  /*border: 50px blue;*/
}

#indent{
  text-indent: 20px;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000;
   color: white;
}

div {
  overflow: hidden;
}
